{% extends "uk/_base.html" %}
{% block title %}{% if item %}编辑待领养{% else %}新建待领养{% endif %} · 大风动物医院{% endblock %}
{% block body %}
<style>{% include "uk/_chrome.css" %}</style>
<div class="ukc-bc"><a href="/admin">后台</a><span class="sep">/</span><a href="/admin/adoption">待领养管理</a><span class="sep">/</span><span>{% if item %}编辑{% else %}新建{% endif %}</span></div>
<div class="ukc-head">
  <div>
    <h1>{% if item %}编&nbsp;辑&nbsp;待&nbsp;领&nbsp;养{% else %}新&nbsp;建&nbsp;待&nbsp;领&nbsp;养{% endif %}
      <span class="sub">登记待领养动物基础信息</span>
    </h1>
  </div>
</div>
<hr class="ukc-rule-double"/>
{% include "includes/admin_adoption_form_body.html" %}
{% endblock %}
