{# UK-Minimal 底部 6-tab (统一角色，按权限隐藏单按钮，不隐藏 tab) #}
{% set _t = active_tab or '' %}
<nav class="ukm-tabbar" role="navigation">
  <a class="ukm-tab {% if _t=='today' %}active{% endif %}" href="/m">今&nbsp;日</a>
  <a class="ukm-tab {% if _t=='customers' %}active{% endif %}" href="/m/customers">客&nbsp;户</a>
  <a class="ukm-tab {% if _t=='medical' %}active{% endif %}" href="/m/medical">医&nbsp;疗</a>
  <a class="ukm-tab {% if _t=='calendar' %}active{% endif %}" href="/m/calendar">日&nbsp;历</a>
  <a class="ukm-tab {% if _t=='finance' %}active{% endif %}" href="/m/finance">财&nbsp;务</a>
  <a class="ukm-tab {% if _t=='me' %}active{% endif %}" href="/m/me">我</a>
</nav>
